#root {
  max-width: 4000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%; /* Full width of the viewport */
  height: 100%;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the viewport */
  height: 100%;
}

.centered-joined-border {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.controls {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.grid-container {
  /* Adjust grid container styles as needed */
}

.controls h2 {
  margin-top: 0;
}